.navbar {
  border-bottom: 2px solid #009499;
}

.navbar-menu {
  justify-content: flex-end;
}

.navbar-burger {
  background-color: transparent;
  border: none;
}

a.navbar-item:hover {
  color: #009499;
}
